Babel==2.3.4
click==6.6
Flask==1.0
Flask-Babel==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pojson==0.7
polib==1.0.7
py==1.4.31
pytest==2.9.2
pytz==2016.4
simplejson==3.8.2
Werkzeug==0.15.3
wheel==0.38.1
